# Node.js dependencies
node_modules/

# Archivos de entorno (secretos)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / TypeScript compilado
dist/
*.tsbuildinfo

# IDE / editor
.vscode/
.DS_Store